
pages:
    script:
    - apt update
    - apt install \-y make curl wget python3 python3-distutils
    - wget -O get-pip.py https://bootstrap.pypa.io/get-pip.py
    - python3 ./get-pip.py
    - pip install -e ./[docs]
    - cd ./docs
    - mkdir builds
    - mkdir ../public
    - ln -s ./build/html ../public
    - make html
    artifacts:
        paths:
        - public
    only:
    - master

tests:
    script:
    - apt update
    - apt install \-y make curl wget python3 python3-distutils
    - wget -O get-pip.py https://bootstrap.pypa.io/get-pip.py
    - python3 ./get-pip.py
    - pip install -e ./[tests]
    - pytest
    - coverage report
    only:
    - master
